
@media (max-width:400px) {
.header-content h2{
font-size: 4.5rem;
}
.header-content a{
margin-top: 1rem;
}
/* .header-content{
margin-top: 16rem;
} */
.newsletter__title {
    max-width: 16rem;
}
        .footer {
            text-align: center;
        }
    
        .footer__right {
            justify-content: center;
        }
    
        .footer-list {
            margin-left: 0;
            width: 100%;
        }
}
@media (max-width:760px) {
.destinations__places {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .place{
    max-width: 40rem;
    }
}

@media (min-width:768px) {
.nav__btn, .nav-menu{
display: none;
}
.menu{
display: flex;
}
.services{
margin-top: 2rem;
}
.destinations__places {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: space-evenly;
}
   .newsletter {
       flex-direction: row;
       text-align: left;
       align-items: center;
   }

   .newsletter__content {
       flex-basis: 60%;
       padding-right: 2rem;
   }

   .newsletter__banner {
       flex-basis: 40%;
   }

   .newsletter::before {
       width: auto;
       height: auto;
       top: -5rem;
       left: -40rem;
       background-size: auto;
       background-position: center left;
   }
}
@media (min-width:992px) {
.header__links {
display: block;
}
.header-content p{
max-width: 38rem;
}
.newsletter__title{
margin-bottom: 0;
}
                .footer-app--mobile {
                    display: none;
                }
        .footer-app {
            display: block;
        }
    
        .footer__wrapper {
            display: flex;
        }
    
        .footer__left {
            max-width: 50rem;
        }
    
        .footer__scroll {
            left: auto;
        }
    
        .newsletter::before {
            top: -10rem;
            left: -30rem;
        }

}

@media (min-width:1200px) {
    .newsletter{
    justify-content: space-evenly;
    }
.newsletter__content {
        flex-basis: auto;
        width: 60rem;
    }

    .newsletter__banner {
        flex-basis: auto;
        width: 42rem;
    }
                .footer__wrapper {
                    justify-content: space-between;
                }
        
                .footer-list {
                    margin-bottom: 0;
                    margin-left: 2rem;
                }
}

@media (min-width:1400px) {
.newsletter {
        padding: 3rem 6rem;
    }
}